@model IEnumerable<WebDemo.Models.TriggeredEvent>

<link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<div class="jumbotron">
    <h1>Example Project</h1>
    <p class="lead">This is an example project for testing ...</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Demo Data Table</h2>
        <table id="active-events" class="display" style="width: 100%">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Alert Type</th>
                    <th>Captured PC</th>
                    <th>Recording</th>
                    <th>Country</th>
                    <th>AVG Time Between Events</th>
                    <th>Duration</th>
                    <th>Is Active</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Type</th>
                    <th>Alert Type</th>
                    <th>Captured PC</th>
                    <th>Recording</th>
                    <th>Country</th>
                    <th>AVG Time Between Events</th>
                    <th>Duration</th>
                    <th>Is Active</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#active-events').DataTable({
            ajax: '@Url.Action("ActiveAlerts")',
            columns: [
                {
                    data: 'event_type'
                },
                {
                    data: 'alert_type'
                },
                {
                    data: 'computer_name'
                },
                {
                    data: 'recording_name'
                },
                {
                    data: 'country'
                },
                {
                    data: 'time_between'
                },
                {
                    data: 'duration'
                },
                {
                    data: 'is_active'
                },
                {
                    data: 'event_date'
                },
                {
                    data: 'event_time'
                }
            ]
        });
    });
</script>